<div class="allUsersWrapper">
<h2 class="allUsers"> Events </h2>
</div>



<div class="new-list-group">
  <% events.forEach(event => { %>
    <div class="new-list-group-item-message">
      <a href="/events/<%=event._id%>/info" class="eventTitle"> <%= event.title %> </a>
      <br>
      <div class="evPs">
      <p> Creator: <%= event.creator %> </p>
      <br>
      <p> When: <%= event.date %> </p>
      <br>
      <p> Instruments needed: <%= event.requiredInstruments %> </p>
      <br>
      <% if (currentUser.role === "ADMIN") { %>
      <form action="/events/<%=event._id%>/delete" method="post">
        <button class="btn btn-danger">Delete</button>
      </form>
      <% } %>
      </div>




    </div>
  <% }) %>

</div>
