
<div class="otherEvents"><span class="otherEvSpan">Events by <%=user.username%></span></div>

<div class="list-group">
  <% user.events.forEach(event => { %>
    <div class="list-group-item">
      <a href="/events/<%=event._id%>/info" class="titleLink"> <%= event.title %> </a>
      <br>

      <p> Creator: <%= event.creator %> </p>
      <br>
      <p> When: <%= event.date %> </p>
      <br>
      <p> Instruments needed: <%= event.requiredInstruments %> </p>
      <br>



    </div>
  <% }) %>

</div>
