<h2> <%=event.title%> </h2>

<div class="messageDiv">
  <div class="messageInner">
    <p><%=event.creator%></p>
    <br>
    <p><%=event.content%></p>
    <br>
    <p><%=event.date%></p>
    <br>
    <p><%=event.time%></p>
    <br>
    <p><%=event.location%></p>
    <br>
    <p><%=event.requiredInstruments%></p>
    <br>
  </div>
</div>
