<div class="inboxWrapper">
  <h2 class="inbox"> Inbox </h2>
</div>


<div class="new-list-group-message inboxMess">
  <% messages.forEach(message => { %>
    <div class="new-list-group-item-message">
      <p> From: <%=message.from%> </p>
      <br>
      <p> Subject: <a href="/messages/<%=user._id%>/view-messages/<%=message._id%>"><%=message.subject%></a> </p>
      <br>
      <p> Sent at: <%=message.createdAt%> </p>
      <br>
    </div>
  <% }) %>
</div>

<div class="sentMess">
  <form action='/messages/<%=currUser._id%>/sent-messages' method="get">
    <button class="btn btn-default"> Sent Messages </button>
  </form>
</div>
