<div class="sentMessagesWrapper">
  <h2 class="sentMessages"> Sent Messages </h2>
</div>


<div class="new-list-group-message sentMessDiv">
  <% listOfMessages.forEach(message => { %>

    <div class="new-list-group-item-message">
      <p> to: <%=message.to%> </p>
      <br>
      <p> Subject: <a href="/messages/<%=currUser._id%>/sent-messages/<%=message._id%>"><%=message.subject%></a> </p>
      <br>
      <p> Sent at: <%=message.createdAt%> </p>
      <br>
      <form action="/messages/<%=message._id%>/delete-sent" method="post">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>


  <% }) %>
</div>

<div class="sentMess">
<form action="/messages/<%=currUser._id%>" method="get">
    <button class="btn btn-default"> Back to Inbox </button>
</form>

</div>
