<div class="myProfileWrapper">
<h2 class="myProfile"> My Profile </h2>
</div>


<div class="profContent">
<p class="profName"> <%=user.username[0].toUpperCase() + user.username.slice(1)%></p>
<br>

<p class="lorem">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>

</div>

<div class="prof_picDiv">
  <div class="prof_picInner">
    <img src="<%=user.prof_pic%>" class="prof_pic">
  </div>

  <div class="underPhoto">
    <form action="/user/profile/pic_change/<%=unread%>" method="post" enctype="multipart/form-data">

        <label for="photos" class="prof_pic_change"> Change Profile Picture </label>
        <input  id="photos" type="file" name="prof_pic" class="going_down">
      <br>

      <button class="btn btn-default"> Save Changes </button>

    </form>
    <br>
    <form action="/messages/<%=user._id%>" method="get">
        <button class="btn btn-default"> Inbox </button>
    </form>
    <br>
    <% if (unread && unread !== 0) { %>
      <div class="unread">
        <%=unread%>
      </div>
    <% } %>


  </div>
</div>
<br>
