<div class="sentMessagesWrapper">
  <h2 class="sentMessages"> Sent Messages </h2>
</div>


<div class="list-group">
  <% listOfMessages.forEach(message => { %>
    <div class="list-group-item">
      <p> to: <%=message.to%> </p>
      <br>
      <p> Subject: <a href="/messages/<%=currUser._id%>/sent-messages/<%=message._id%>"><%=message.subject%></a> </p>
      <br>
      <p> Sent at: <%=message.createdAt%> </p>
      <br>

    </div>
  <% }) %>
</div>
