<div class="messageDiv">
  <div class="messageInner">
    <p class="messageP"> To: <%=message.to%> </p>
    <br>
    <p class="messageP"> Subject: <%=message.subject%> </p>
    <br>
    <p class="messageP"> Content: <%=message.content%> </p>
    <br>
    <p> Sent at: <%=message.createdAt%> </p>
    <br>
  </div>
</div>


<form class="backToSent" action='/messages/<%=currUser._id%>/sent-messages' method="get">
  <button class="btn btn-default"> Back to Sent Messages </button>
</form>
